name: cittel
description: CITTEL event application.
publish_to: 'none'
version: 1.0.0


environment:
  sdk: '>=2.15.0-317.0.dev <3.0.0'


dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  intl: ^0.17.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


flutter:
  uses-material-design: true
  assets:
    - assets/
